.main_navigation
{
   display: flex;
   justify-content: flex-end;
}
li
{
   font-size: 1.5em;
   text-decoration: none;
   color: #000000;
   padding: 1em;
   display: inline-block;
   text-align: center;

}

li:hover
{
   opacity: 0.5;
   cursor: pointer;
}

@media screen and (max-width:710px){

.main_navigation {
   display: none;
}
}
