@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
font-family: "Raleway Webfont";
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}


.particles
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.play
{
   display: grid;
   grid-template-rows: 1fr 3fr;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.contact_btn {
   text-align: center;
   max-width: 300px;
   align-items: center;
   align-content: center;
   font-size: 2em;
   background-color: #001502;
   color: #ffffff;
   border-radius: 5px;
   margin: 30px;
   text-shadow: 0 0 10px #ffffff,
   0 0 20px #fff,
   0 0 30px #fff,
   0 0 40px #ff00de,
   0 0 70px #ff00de,
   0 0 80px #ff00de,
   0 0 100px #ff00de,
   0 0 150px #ff00de;
}

.contact_me
{
   display: flex;
   justify-content: center;
}
